
body{
    padding: 0;
    margin: 0;
    background-color: #0F0F0F;
    color: white;
    font-family:Arial, Helvetica, sans-serif
    
}

main{
    margin: 0 10%;
}

.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.container h1{
    font-size: 26px;
    display: inline-block
}
  
.containerHeader{
    width: 100%;
    height: auto;
    background-color: #222121;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 50px;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 28px;
    margin: 0 48px;


}
.headerLeft{
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.lineHeader {
    border: 2px solid black;
    width: 100%;
    margin-bottom: 5px;
}

.lineMain {
    border: none;
    position: relative;
    margin-top: -15px;
  }
.lineMain:before {
    background: linear-gradient(to right, white 5%, gray 5%);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
  }
  .lineMain.expanded::before {
    background: linear-gradient(to right, white var(--gradient-size), gray var(--gradient-size));
  }


.logo{
    width: 280px;
    height: 90px;
    cursor: pointer;
}

.inputContainer {
    background-color: rgb(133, 133, 133);
	border: 1px solid #000;
    width: 270px;
	height: 30px;
	border-radius: 10px;
	text-align: left;
    align-items: center;
    justify-content: center;
}

.inputContainer input {
	width: 200px;
	height: 27px;
	border: 1px solid transparent;
    background-color: transparent;
	border-radius: 10px;
	padding-left: 30px;
	outline: none;
    text-align: left;
    align-items: center;
    justify-content: center;
}
.inputContainer input::placeholder {
	color: black;

}

.inputContainer input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px white inset !important;
	border: none !important;
  }
  .bannerContainer {
    display: flex;
}

.banner {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 0;
}

.banner ul {
    margin: 10px 0;
    padding: 0;
    display: flex;
    width: 300%; /* Altere para o número de slides multiplicado por 100% */
    list-style: none;
}

.banner ul li {
    position: relative;
    width: calc(100% / 3); /* Dividir igualmente o espaço para os 3 slides */
}

.banner ul li img {
    width: 100%;
    height: auto;
    filter: brightness(50%);
}

.banner ul li h3 {
    position: absolute;
    width: 70%;
    font-size: 40px;
    top: 30%;
    left: 15%;
    margin: 0;
}

.banner ul li p {
    position: absolute;
    width: 70%;
    font-size: 18px;
    top: 60%;
    left: 15%;
    margin: 0;
}

@keyframes slide-out-left {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(-100%);
      opacity: 0;
    }
  }
  
  @keyframes slide-in-right {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .paginationBanner {
    text-align: center;
    margin-top: 10px;
  }
  
  .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #bbb;
    margin: 0 5px;
    cursor: pointer;
  }
  

.containerAnimes{
    height: auto;
    width: 102%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.containerAnimesLastRealese{
    height: auto;
    width: 102%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.containerAnimesGender{
    height: auto;
    background-color: #323232;
    width: 100%;
    display: grid;
    grid-template-areas: "cardsLeft cardsRight";
    grid-template-columns: 60% 40%; /* Defina o número de colunas desejado */
    grid-gap: 10px;
    margin: 0;
    padding: 0;
}

.card {
    display: flex;
    background-color: #171717;
    flex-direction: column;
    align-items: left;
    width: 23%;
    height: 10%;
    margin-top: 20px;
    margin-right: 2%;
    cursor: pointer;
    max-height: 460px;
    overflow-y: auto;
}

.card::-webkit-scrollbar {
    display: none;
}

.card img {
    width: 100%;
    height: 100%;
    max-height: 370px;
}

.card h3 {
    font-size: 16px;
    padding-left: 4%;
    margin-bottom: 5px;
} 
.card p {
    padding-left: 4%;
}

.genderContainer{
    display: flex;
    flex-wrap: wrap;
}

.gender{
    margin-right: 30px;
    cursor: pointer;
}

.lineGender {
    border: none;
    position: relative;
    margin-top: -15px;
    margin-bottom: 15px;
  }

.lineGender:before {
    background: linear-gradient(to right, white 5%, gray 5%);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
  }
  .lineGender.expanded::before {
    background: linear-gradient(to right, white var(--gradient-size), gray var(--gradient-size));
  }
  
  .cardsRigth {grid-area: cardsRight;
      display: flex;
      flex-direction: column;
      background-color: #5A5A5A;
      padding: 0 20px;
      height: 100%;
      width: 97%;
      color: black;
      margin-left: -8%;
 
  } 
  .cardsLeft {grid-area: cardsLeft;
      display: flex;
      flex-direction: column;
      padding: 0 20px;
      height: 100%;
      width: 90%;
      color: black;
      right: 0;
  } 

.cardGender {
    display: flex;
    flex-direction: row;
    align-items: left;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    cursor: pointer;
    margin: 15px 0;
}

.cardGender img {
    width: 45%;
    height: 100%;
    min-height: 150px;
    margin-right: 2.5%;
    border-radius: 15px;
}
.cardGendertext {
    background-color: #D9D9D9;
    padding: 0 20px;
    width: 100%;
    height: auto;
} 

.cardGendertext h3 {
    font-size: 18px;
    padding-left: 4%;
    margin-bottom: 5px;
} 
.cardGendertext p {
    padding-left: 4%;
    font-size: 18px;
}

.cardDrescription {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    height: auto;
    margin: 10px 0;    
    color: white;
}

.cardDrescription img {
    width: 100%;
    height: auto;
    margin-right: 2.5%;
    border-radius: 15px;
}
.cardDrescriptionText {
    width: 100%;
    height: auto;
} 

.cardDrescriptionText h3 {
    font-size: 24px;
    padding-left: 0;
    margin-bottom: 5px;
} 

.cardDrescriptionText p {
    padding-left: 0;
    font-size: 14px;
}


footer {
    display: flex;    
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    background: #23232e;
    font-weight: none;
    height: 10vh;
    color: white;
    width: 100%;

}
footer p {
    padding: 0 20%;
    font-size: 12px;
}
footer ul a { align-items: center;
    color: white;
    font-size: 25px;
    padding: 0 10px;
}
